.post-input-title {
    margin-top: 10px;
    font-size: 25px;
}

.invalid::placeholder {
    color: rgba(255, 0, 0, 0.374);
    opacity: 1;
}

.post-input-content {
    margin-top: 10px;
    min-height: 250px;
    font-size: 20px;
    field-sizing: content;
    resize: vertical;
}